.info-card {
  background-color: #fff;
  margin: 1rem;
  text-align: center;
  width: 15rem;
  
      img {
        height: 10rem;
        width: 100%;
      }

      .info-card-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: left;

        h4 {
          font-size: 0.875rem;
          font-weight: normal;
          margin-bottom: 0.3rem;
          margin-top: 0;
        }
      }
}


@media (min-width: 1200px) {
 
}

@media (min-width: 960px) {

}
