.card-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1170px;
}

.card-sort {
  display: flex;
  flex-direction: row;
  padding: 1rem;

    h4 {
      margin: 0 0.5rem 0 0;
    }
}

.load-more-btn {
  margin: 1rem;
}