.card-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: space-evenly;
}

.card-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.dropdown {
  margin-top: 1rem;
}